<header class="header">
    <div class="back">
        <div class="menu container">
            <a href="" ><img src="images/logo2.png" alt=""  class="logo"></a>
            <input type="checkbox" id= "menu">
            <label for="menu">
                <img src="images/menu.png" alt="" width="25px">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Registrarse</a></li>
                    <li><a href="#">Iniciar Sesion</a></li>
                    <button class="button">Donar Aqui</button>
                </ul>
            </nav>
        </div>
    </div>
</header>