<div class="dialog-container">
  <h2 class="solicitud-titulo">Modificar Solicitud de Materiales</h2>

  <div class="input-container">
    <p>Tipo de Material</p>
    <!-- Campo de solo lectura para mostrar el tipo de material -->
    <input 
      class="input-field" 
      [value]="materialRequest.nombre_material" 
      readonly 
    />
  </div>

  <div class="input-container">
    <p>Precio por Kg</p>
    <input 
      type="number" 
      [(ngModel)]="materialRequest.precio" 
      class="input-field" 
      placeholder="$12" 
      required 
    />
  </div>

  <div class="input-container">
    <p>Cantidad (Kg)</p>
    <input 
      type="number" 
      [(ngModel)]="materialRequest.cantidad_solicitada" 
      class="input-field" 
      placeholder="15 Kg" 
      required 
    />
  </div>

  <div class="input-container">
    <p>Descripción</p>
    <textarea 
      [(ngModel)]="materialRequest.descripcion" 
      class="input-field" 
      placeholder="Detalles adicionales"
    ></textarea>
  </div>

  <div class="input-container">
    <div class="file-container">
      <p>Foto (opcional)</p>
      <input type="file" class="file-input" (change)="onFileSelected($event)" />
    </div>
  </div>

  <div class="button-container">
    <button type="button" class="close-button" (click)="closeDialog()">Cerrar</button>
    <button type="submit" class="add-button" (click)="updateMaterialRequest()">Modificar</button>
  </div>
</div>
