<app-header-company *ngIf="myRol === 'empresa'"></app-header-company>
<app-header-recycler *ngIf="myRol === 'reciclador'"></app-header-recycler>

<div class="card-container">
  <div *ngFor="let item of mixedContent" class="card">
    <div class="card-header">
      <img
        class="profile-pic"
        [src]="item.type === 'publication' ? 'images/logo2.png' : 'images/logo2.png'"
        alt="Profile Picture"
      />
      <div class="user-info">
        <h2>
          {{ item.type === 'publication' ? item.nombre_usuario : 'Anuncio de Empresa' }}
        </h2>
        <p class="date">
          {{ item.type === 'publication' ? (item.fecha_creacion | date:'longDate') : (item.fecha_publicacion | date:'longDate') }}
        </p>
      </div>
    </div>

    <div class="info">
      <h3 class="description">
        {{ item.type === 'publication' ? item.descripcion : item.contenido_anuncio }}
      </h3>
    </div>
    <img
  class="imgprincipal"
  [src]="item.imagen_url ? item.imagen_url : 'path-to-placeholder-image.png'"
  alt="Imagen"
/>

  </div>
</div>

<app-footer-users></app-footer-users>
