<app-header-company *ngIf="myRol === 'empresa'"></app-header-company>
<app-header-recycler *ngIf="myRol === 'reciclador'"></app-header-recycler>

<div class="card-container">
    <div *ngFor="let publication of publications" class="card">
      <div class="icons">
        <img (click)="updatePublication(publication)" class="options" src="images/lapiz.png" alt="Editar">
        <img (click)="deletePublication(publication)" class="options" src="images/eliminar.png" alt="Eliminar">
      </div>
      <div class="card-header">
        <img class="profile-pic" src="images/logo2.png" alt="Profile Picture">
        <div class="user-info">
          <h2>{{ publication.id_usuario }}</h2>
          <p class="date">{{ publication.fecha_creacion | date }}</p>
        </div>
      </div>
      <div class="info">
        <h3 class="description">{{ publication.descripcion }}</h3>
      </div>
      <img class="imgprincipal" [src]="publication.imagen_url" alt="Imagen de la publicación">
    </div>
  </div>
  
  <button (click)="addPublication()" class="circular-button">+</button>
  