<app-header-recycler/>
<div class="container">
    <div class="img">
        <img src="https://i.pinimg.com/236x/93/05/16/9305168401c6090ef5aced25930ced46.jpg" alt="">
    </div>
    <div class="info">
        <h2>ProLife </h2>
        <h2>Papel Periódico</h2>
        <h2>$12.00</h2>
        <h2>Cantidad Mínima: 25 kg</h2>
        <p>Se solicita papel periodico en buenas condiciones, arrfs ds f fdgsdf g df gds g dfs gdfsg df df fdds df df f desgaesdsds gds ga ds fs  dfsd gdfg  dfhdfhfs hdshsdhdfhdf  dfd fd f dgdfgdfgfg12 kg para realizar esta compra, preferentemente que no se enceuntre roto por pedazos.</p>
    </div> 
    <div class="calculator">
        <h3>Ingrese la cantidad a Entregar: </h3>
        <input type="number" placeholder="">
        <h3>$500.00</h3>
        <div class="actions">
            <button>Chatear con la Empresa</button>
            <button>Aceptar solicitud</button>
        </div>
    </div>
</div>

<app-footer-users/>