<app-header-recycler></app-header-recycler>
<div class="container" *ngIf="requestDetails() as details">
  <div class="img">
    <img [src]="details.imagen_solicitud || 'assets/default-image.jpg'" alt="Imagen de solicitud">
  </div>
  <div class="info">
    <h2>{{ details.nombre_empresa }}</h2>
    <h2>{{ details.nombre_material }}</h2>
    <h2>${{ details.precio }}</h2>
    <h2>Cantidad Mínima: {{ details.cantidad_solicitada }} kg</h2>
    <p>{{ details.descripcion }}</p>
  </div>
  <div class="calculator">
    <h3>Ingrese la cantidad a Entregar: </h3>
    <input type="number" placeholder="Cantidad">
    <h3>Total: ${{ details.precio * 1 }}</h3>
    <div class="actions">
      <button>Chatear con la Empresa</button>
      <button>Aceptar solicitud</button>
    </div>
  </div>
</div>
<app-footer-users></app-footer-users>
