<app-header-admin></app-header-admin>
<div class="container">
    <div class="form-wrapper">
        <div class="form-container">
            <h2>Crear Anuncio</h2>
            <form class="form">
                <input type="text" id="duracion" name="duracion" placeholder="Duración" required>
                
                <p class="date-label">Fecha de Inicio</p>
                <input type="date" id="inicio" name="inicio" required>
                
                <p class="date-label">Fecha de Finalización</p>
                <input type="date" id="final" name="final" required>

                <input type="file" id="fotos" name="fotos" accept="image/*">
                <button type="submit">Crear anuncio</button>
            </form>
        </div>
    </div>
</div>







