.container{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 150px;
    margin-bottom: 350px;
}

.table-button-delete{
    margin: 8px;
    color:white;
    background-color:red;
}

.table-button-edit{
  margin: 8px;
  color:white;
  background-color:#489f3b;
}

.table-button-edit:hover{
  background-color:#108310;
  color: white;
}

.table-button-delete:hover{
  background-color:#a11d10;
  color: white;
}


.custom-table th, .custom-table td {
    padding: 12px; /* Ajusta el espacio interno (padding) */
    text-align: center; /* Alineación del texto dentro de las celdas */
    font-size: 16px;
    background-color: rgb(255, 255, 255);
  }
  
  .custom-table th {
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(235, 247, 224);
  }

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
      margin-left: 20px; /* Reducir márgenes */
      margin-right: 20px;
      margin-top: 40px;
      margin-bottom: 90px;
  }

  .table-button {
      margin: 4px; /* Reducir margen */
      font-size: 14px; /* Texto más pequeño */
      padding: 6px; /* Botones más pequeños */
  }

  .custom-table th,
  .custom-table td {
      padding: 8px; /* Reducir padding */
      font-size: 14px; /* Texto más pequeño */
  }

  .custom-table th {
      font-size: 16px; /* Texto más pequeño para encabezados */
  }
}