.cards {
  display: flex;
  height: 100vh;
  gap: 10px;

  .contacts-card {
    width: 30%;
    background-color: #888;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .contacts-menu {
      padding: 10px;

      h3 {
        margin-bottom: 15px;
        text-align: center;
        font-size: 1.5rem;
        color: #f8f8f8;
      }

      ul {
        list-style: none;
        padding: 0;

        .contact-item {
          padding: 10px;
          margin-bottom: 5px;
          background-color: #ffffff;
          border-radius: 5px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          cursor: pointer;

          .contact-info {
            display: flex;
            flex-direction: column;

            .contact-name {
              font-weight: bold;
              color: #555;
            }

            .last-message {
              display: flex;
              justify-content: space-between;
              font-size: 0.85rem;
              color: #888;

              .message-text {
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }

  .chat-card {
    width: 70%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chat-section {
      display: flex;
      flex-direction: column;
      height: 100%;

      .chat-messages {
        flex: 1;
        padding: 15px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        .message {
          max-width: 70%;
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 8px;
          font-size: 1rem;
          line-height: 1.5;
          position: relative;

          .message-time {
            display: block;
            font-size: 0.8rem;
            color: #888;
            margin-top: 5px;
            text-align: right;
          }

          &.message-received {
            background-color: #f1f1f1;
            align-self: flex-start;
            margin-left: 0;
          }

          &.message-sent {
            background-color: #d1e7dd;
            align-self: flex-end;
            margin-right: 0;
          }
        }
      }

      .chat-input {
        display: flex;
        padding: 10px;
        border-top: 1px solid #ddd;

        input {
          flex: 1;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 5px;
          margin-right: 10px;
        }

        button {
          background-color: #04db65;
          color: #fff;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: #108310;
          }
        }
      }
    }
  }
}

/* Media Query */
@media (max-width: 768px) {
  .contacts-card {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
    overflow-y: auto; 
  }

  .contacts-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
    overflow-y: auto; 
  }

  .contact-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px; 
    box-sizing: border-box; 
    height: auto; 
    padding-right: 15px;
    word-wrap: break-word; 
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .contact-name {
    font-weight: bold;
    font-size: 1rem; 
  }

  .last-message {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .contact-text {
    display: block;
    white-space: nowrap;
    overflow-x: auto; 
    width: 100%; 
  }

  .message-text {
    display: inline-block;
    white-space: nowrap; 
  }

  .message-time {
    font-size: 0.8rem;
    color: #888;
    align-self: flex-end;
  }
}
