<div class="dialog-container">
    <h2 class="solicitud-titulo">Agregar Publicacion</h2>
    <div class="input-container">
      <textarea id="description" class="input-field" placeholder="Descripción"></textarea>
    </div>
    <div class="input-container">
      <div class="file-container">
        <input type="file" id="fotos" class="file-input" />    
      </div>
    </div>
    <div class="button-container">
      <button type="button" class="close-button" (click)="closeDialog()">Cerrar</button>
      <button type="submit" class="add-button">Agregar</button>
    </div>
  </div>
  