<app-header-recycler></app-header-recycler>
<div class="card-container">
  <div class="card" *ngFor="let request of materialRequests()">
    <div class="icons"></div>
    <img 
      class="imgprincipal" 
      [src]="request.imagen_solicitud" 
      alt="{{ request.nombre_material }}"
    >
    
    <div class="card-content">
      <h2>{{ request.nombre_empresa }}</h2>
      <div class="info">
        <h3>{{ request.nombre_material }}</h3>
        <h3>Precio: ${{ request.precio }}</h3>
      </div>
      <p>{{ request.descripcion || 'Sin descripción' }}</p>
      <p>Estado: {{ request.estado_solicitud }}</p>
      <button (click)="routeToSeeRequest(request.id_solicitud)">Ver Más</button>
    </div>
  </div>
</div>
<app-footer-users></app-footer-users>
