<app-header-recycler/>
<div class="card-container">
    <div class="card">
        <div class="icons">
        </div>
        <img class="imgprincipal" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWTdNwzcNVwqK17r9u1xH0VoPTEP_SzWgIXA&s" alt="">
        <div class="card-content">
            <h2>Empresa</h2>
            <div class="info">
            <h3>Producto</h3>
            <h3>Precio $</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut inventore beatae, quis itaque cum voluptate
            molestias molestiae</p>
            <button>Ver Mas</button>
        </div>
    </div>
</div>
<app-footer-users/>