<footer class="footer">
    <ul class="social-icon">
     
      <li class="icon-elem">
        <a href="" class="icon">
          <img src="images/facebook.png" alt="" class="icon">
        </a>
      </li>
      <li class="icon-elem">
        <a href="" class="icon">
            <img src="images/instagram.png" alt="" class="icon">
        </a>
      </li>
      <li class="icon-elem">
        <a href="" class="icon">
            <img src="images/tiktok.png" alt="" class="icon">
        </a>
      </li>
    </ul>
    <ul class="menu">
      <li class="menu-elem">
        <a href="" class="menu-icon"> +52 963 146 35 91 </a>
      </li>
      <li class="menu-elem">
        <a href="" class="menu-icon"> viridisgmail.com </a>
      </li>
    </ul>
    <p class="text">Carretera Tuxtla Gutierrez, Km 21+500, Las Brisas, 29150 Suchiapa, Chis.</p>
  </footer>