.container{
    margin-left: 120px;
    margin-right: 140px;
    margin-top: 100px;
    margin-bottom: 280px;
}

.table-button-delete{
  margin: 8px;
  color:white;
  background-color:red;
}

.table-button-edit{
margin: 8px;
color:white;
background-color:#489f3b;
}

.table-button-edit:hover{
background-color:#108310;
color: white;
}

.table-button-delete:hover{
background-color:#a11d10;
color: white;
}

.custom-table th, .custom-table td {
    padding: 12px; /* Ajusta el espacio interno (padding) */
    text-align: center; /* Alineación del texto dentro de las celdas */
    font-size: 16px;
    background-color: rgb(255, 255, 255);
  }
  
  .custom-table th {
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(235, 247, 224);
  }
  