<div class="dialog-container">
  <h2 class="solicitud-titulo">Solicitud de Materiales</h2>
  <div class="input-container">
    <select id="name" class="input-field" required>
      <option value="" disabled selected>Selecciona un producto</option>
      <option value="producto1">Producto 1</option>
      <option value="producto2">Producto 2</option>
      <option value="producto3">Producto 3</option>
      <!-- Agrega más opciones según sea necesario -->
    </select>
  </div>
  <div class="input-container">
    <input type="number" id="price" class="input-field" placeholder="Precio" required />
  </div>
  <div class="input-container">
    <input type="number" id="quantity" class="input-field" placeholder="Cantidad Minima (Kg)" required />
  </div>
  <div class="input-container">
    <textarea id="description" class="input-field" placeholder="Descripción"></textarea>
  </div>
  <div class="input-container">
    <div class="file-container">
      <input type="file" id="fotos" class="file-input" />    
    </div>
  </div>
  <div class="button-container">
    <button type="button" class="close-button" (click)="closeDialog()">Cerrar</button>
    <button type="submit" class="add-button">Agregar</button>
  </div>
</div>
