<app-header-admin/>
<div class="container">
    <div class="form-wrapper">
        <div class="form-container">
            <h2>Solicitud de Empresa</h2>
            <form class="form">
                <input type="text" id="nombre" name="nombre" placeholder="Nombre de la Empresa" required>
                <input type="text" id="dueno" name="dueno" placeholder="Dueño de la Empresa" required>
                <input type="text" id="direccion" name="direccion" placeholder="Dirección" required>
                <input type="email" id="correo" name="correo" placeholder="Correo Electrónico" required>
                <input type="number" id="telefono" name="telefono" placeholder="Teléfono" required>
                
                <div class="input-group">
                    <input type="text" id="estado" name="estado" placeholder="Estado" required>
                    <input type="text" id="ciudad" name="ciudad" placeholder="Ciudad/Municipio" required>
                </div>
                
                <input type="file" id="fotos" name="fotos" accept="image/*">

                <div class="input-group2">
                <button type="submit">Autorizar acceso</button>
                <button type="submit">Negar acceso</button>
            </div>        
            </form>
        </div>
    </div>
</div>
