<app-header-admin></app-header-admin>
<div class="container">
    <div class="card-wrapper">
        <div class="card-container">
            <h2>Información de la Solicitud</h2>
            <div class="card-content">
                <div class="column">
                    <h3>Nombre de la Empresa:</h3>
                    <p>Nombre de ejemplo</p>

                    <h3>Correo Electrónico:</h3>
                    <p>correojemplo.com</p>

                    <h3>Estado:</h3>
                    <p>Estado de ejemplo</p>

                    <h3>Dirección:</h3>
                    <p>Dirección de ejemplo</p>
                </div>
                <div class="column">
                    <h3>Dueño de la Empresa:</h3>
                    <p>Dueño de ejemplo</p>

                    <h3>Teléfono:</h3>
                    <p>+52 123 456 7890</p>

                    <h3>Ciudad/Municipio:</h3>
                    <p>Ciudad de ejemplo</p>
                </div>
                <div class="column image-container">
                    <img src="https://tarifasdeluz.mx/sites/tarifasdeluz.mx/files/styles/large/public/ejemplo-recibo-cfe-frente_0.png?itok=TxuPCb2P" alt="Foto de ejemplo" class="preview-image">
                </div>
            </div>
            <div class="button-group">
                <button>Negar acceso</button>
                <button>Autorizar acceso</button>
            </div>
        </div>
    </div>
</div>
