<app-header-admin></app-header-admin>
<div class="container" *ngIf="empresa; else loading">
  <div class="card-wrapper">
    <div class="card-container">
      <h2>Información de la Solicitud</h2>
      <div class="card-content">
        <div class="column">
          <h3>Nombre de la Empresa:</h3>
          <p>{{ empresa.nombre_empresa }}</p>

          <h3>Correo Electrónico:</h3>
          <p>{{ empresa.email }}</p>

          <h3>Estado:</h3>
          <p>{{ empresa.estado }}</p>

          <h3>Dirección:</h3>
          <p>{{ empresa.direccion }}</p>
        </div>
        <div class="column">
          <h3>Dueño de la Empresa:</h3>
          <p>{{ empresa.dueno_empresa }}</p>

          <h3>Teléfono:</h3>
          <p>{{ empresa.telefono }}</p>

          <h3>Ciudad/Municipio:</h3>
          <p>{{ empresa.ciudad }}</p>
        </div>
        <div class="column image-container">
          <img
            [src]="empresa.imagen_empresa || 'https://via.placeholder.com/150'"
            alt="Imagen de la Empresa"
            class="preview-image"
          />
        </div>
      </div>
      <div class="button-group">
        <button (click)="rejectAccess()">Negar acceso</button>
        <button (click)="authorizeAccess()">Autorizar acceso</button>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div *ngIf="errorMessage; else spinner">
    <p>{{ errorMessage }}</p>
  </div>
  <ng-template #spinner>
    <p>Cargando detalles de la empresa...</p>
  </ng-template>
</ng-template>
