/* Fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.container{
    display: flex;
    justify-content: center;
}

.login-wrapper {
    display: flex; 
    justify-content:space-around; 
    align-items: center; 
    padding: 70px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 90%;
    margin-top: 150px;
    margin-bottom: 75px;
}

.logo-container {
    margin-right: 50px;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 100%;
}

.h2-Sesión {
    text-align: center;
    color: #108310;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 1rem; 
    padding: 0.75rem; 
    border-radius: 8px; 
    border: 1px solid #ddd; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    font-size: 16px;
}

.login-form input:focus {
    outline: none;
    border-color: #108310;
}

.login-form button {
    padding: 0.75rem; 
    border: none; 
    border-radius: 8px; 
    background-color: #108310; 
    color: white; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #0a6d0a;
}

.text {
    color: #666; 
    text-align: center;
    margin-top: 20px;
}

.register-link {
    color: #108310; 
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.register-link:hover {
    text-decoration: underline;
}

/* Responsividad */
@media (max-width: 768px) {
    .login-wrapper {
        flex-direction: column;
        padding: 20px;
        margin-top: 180px;
    }

    .logo-container {
        display: none; 
    }

    .login-container {
        max-width: 100%;
        width: auto;
    }
}